h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  display: block;
  background: darkblue;
}

h3 {
  font-style: italic;
  font-size: 15px;
  position: absolute;
  top: 62px;
  left: 450px;
}

h2 {
  font-size: 25px;
  position: relative;
  left: 15px;
}

#header2 {
  font-size: 25px;
  position:relative;
  left: 100px;
}


#form1 {
  width: 300px;
  height: 100px;
  padding: 2% 5% 3% 5%;
  margin: 2% 2% 2% 2%;
  border: 10px solid #0000FF;
  border-radius: 10px;
}

#form2 {
  width: 300px;
  height: 100px;
  padding: 2% 5% 12% 5%;
  margin: 2% 2% 2% 2%;
  border: 10px solid #0000FF;
  border-radius: 10px;
}
