body {
  margin: 0;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
h2 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h3 {
  margin: 0;
  font-style: italic;
  font-size: 15px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background: darkblue;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h2 span {
    background-color: black;
}

p {
  font-style: italic;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

li {
  font-size: 20px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-decoration: underline;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;

}

a:hover {
  text-decoration: underline;
  color: white;
}

.mytext {
    width: 300px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: darkblue;
  border: 2px black solid;
  text-align: center;
  font-size: 14px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: white;
  padding: 10px;
  width: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: ' \00bb';
  position: inline-block;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.food {
  padding-left: 0px
}

.events {
  padding-left: 0px
}

#header1 {
  color: white;
  font-size: 40px;
  margin-top: 5px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#header2 {
  color: white;
  font-size: 25px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#headerblock {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background: darkblue;
  margin-top: 0;
}

#form1 {
  width: 500px;
  height: 420px;
  padding: 4% 4% 4% 4%;
  margin: 2% 2% 2% 2%;
}

#form2 {
  width: 300px;
  height: 300px;
  padding: 4% 4% 4% 4%;
  margin: 2% 2% 2% 2%;
  border: 10px solid darkblue;
  border-radius: 10px;
}

#move {
  margin-top: 15px
}

#contain {
  overflow: auto;
}

#left {
  float: left;
  /*right: 350px;*/
  width: 49%;
}

#leftcolor {
  margin-left: 25%;
  max-width: 250px;
  background: lightblue;
  border: 2px solid darkblue;
  border-radius: 10px
}

#right {
  float: left;
  width: 49%;
}

#rightcolor {
  margin-right: 25%;
  max-width: 250px;
  background: lightblue;
  border: 2px solid darkblue;
  border-radius: 10px
}

#otherButtons {
  width: 22em;  height: 4em;
  display: inline-block;
  border-radius: 4px;
  background-color: darkblue;
  border: 2px black solid;
  text-align: center;
  font-size: 14px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#search {
  width: 10em; height: 3em;
}

#eventlink {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#nopeButton {
  width: 300px;
  height: 100px;
  text-decoration: none;
  margin-bottom: 1;
  font-size: 1.5em;
  padding-right: 20px;
}

#nonwhitetext {
  font-size: 15px;
  color: darkblue;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

#legibleTag {
  font-weight: bolder;
  font-style: italic;
  font-size: 25px;
  color: black;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background: lightblue;
  border: 2px solid darkblue;
  border-radius: 10px;
  padding: 5px;
}

#next {
  font-weight: bolder;
  font-style: italic;
  font-size: 25px;
  text-decoration: underline;
  color: black;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background: lightblue;
  border: 2px solid darkblue;
  border-radius: 10px;
  padding: 5px;
}

#background {
  background: lightblue;
  border: 2px solid darkblue;
  border-radius: 10px;
  width: 800px;
  height: 40px;
  align-self: center;
}

#imageBorder {
  border: 2px solid darkblue;
}

#arrowtext {
  padding-right: 10px;
  height: 70px
}
