h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h2 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-decoration: underline;
}

h3 {
  font-size: 30px;
  color: white;
  text-align: center;
}

h4 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
}

ul {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  border-color: darkblue;
  border-radius: 5px;
}

#suggestions {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background-color: white;
  width: 500px;
}

body {
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

#headerblock {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background: darkblue;
  margin-top: 0;
}
