#headerblock {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background: darkblue;
  margin-top: 0;
}


h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h2 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-decoration: underline;
}

h3 {
  margin: 0;
  font-style: italic;
  font-size: 15px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background: darkblue;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h4 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
}

ul {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  border-color: darkblue;
  border-radius: 5px;
}

#suggestions {
  margin-top: 50px;
  margin-left: 5%;
  max-width: 400px;
  height: 100%;
  background: lightblue;
  border: 2px solid blue;
  border-radius: 10px
}

body {
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

#headerblock {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background: darkblue;
  margin-top: 0;
}
