<!DOCTYPE html>
<html>
  <head>
    <title>IDK Home</title>
    <link rel="stylesheet" href="stylesheets/idk.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
    $(document).ready(setup);
    function setup() {
        $('#addIdea').click(addIdea() {
      alert('Thanks for sharing!');
    });
    </script>
  </head>

  <body>
    <div id=headerblock>
      <a href='/'><h1 id=headerblock>&#128161; IDK &#128161;</h1></a>
    </div>
    <center><h3>what do you wanna do?</h3></center>
    <br>
    <br>
    <div id="container" style="width:100%;">
      <div id="left" style="float:left; width:50%;"> <center>
        <h2 id=header1>What to do in your area:</h2></center>
        <center><form type="post" action="/results" id=form1>
          <input id=move type="text" name="location" placeholder="Enter Your Location" required><br><br>
          <input type="text" name="keywords" placeholder="Type in Keywords" required><br><br>
          <button class="button"><span>Search</span></button>
        </form></center>
    </div>

      <div id="right" style="float:right; width:50%;">
        <center><h2 id=header2>Any ideas you want to share?</h2>
        <form method="post" action="/" id=form2>
            <input type='text' name='eventname' placeholder='Enter Event Name'><br><br>
            <input type='text' name='location' placeholder='Enter Event Location'><br><br>
            <textarea name="info" rows=5 cols=40 placeholder="Enter More Information Here"></textarea><br>
          <button id = "addIdea" class="button"><span>Post</span></button>
        </form> </div></center>
      </div>
    <br>
    <br>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
  <script src="scripts/background.js"></script>
</html>
