<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IDK Home</title>
    <link rel="stylesheet" href="stylesheets/idk.css">
  </head>

  <body>
    <center><div id=headerblock>
      <a href='/'><h1 id=headerblock>&#128161; IDK &#128161;</h1></a>
    </div>
    <div><h3>what do you wanna do?</h3>
    <br>
        <form type="post" action="/results" id=form1>
          <div><h2 id=header1>What to do in your area:</h2>
          <input id=move class = "mytext" type="text" name="location" placeholder="Enter Your Location" required><br><br>
          <input type="text" class = "mytext" name="keywords" placeholder="Give a keyword - ex: tacos" required><br><br><br>
          <button id = "search" class="button"><span>Search</span></button>
        </form>
        <br><br>
        <button id = "nope" class="button"><span><a href="/nope">Give me ideas I can do anywhere</span></a></button>
        <br><br>
        <button id = "submitIdea" class="button"><span><a href="/submitIdea">Give someone else an idea</span></a></button>
      </div></center>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
  <script src="scripts/background.js"></script>
</html>
