<!DOCTYPE html>
<html>
<head>
  <title>Nope</title>
  <link rel="stylesheet" href="stylesheets/nope.css">
</head>
<body>

  <h1>IDK then, maybe you should try these other ideas:</h1><br>
    <div>{% for event in events %}
    <ul>
    <h2>Idea: {{event.eventname}}</2><br>
    <h4>Where It's At: {{event.location}}</h4><br>
    <h4>More Details: {{event.info}}</h4><br><br><br>
    </ul>
    {% endfor %}
    <br>
    <br>
    <br>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
<script src="scripts/background.js"></script>
</html>
