<!DOCTYPE html>
<html>
<head>
  <title>User Ideas</title>
  <link rel="stylesheet" href="stylesheets/nope.css">
</head>
<body>
  <div id=headerblock>
    <a href='/'><h1 id=headerblock>&#128161; IDK &#128161;</h1></a>
    <h3>IDK then, maybe you should try these ideas other people had:</h3><br>
  </div>
    <div id="suggestions">{% for event in events %}
    <ul>
    <h2>Idea: {{event.eventname}}</2><br>
    <h4>Where It's At: {{event.location}}</h4><br>
    <h4>More Details: {{event.info}}</h4><br><br><br>
    </ul>
    {% endfor %}
    <br>
    <br>
    <br>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
<script src="scripts/background.js"></script>
</html>
