<!DOCTYPE HTML>
<head>
<title>Share an Idea</title>
</head>
<body>
<center><div><h2 id=header2>Any ideas you want to share?</h2>
  <form method="post" action="/" id=form2>
      <input type='text' name='eventname' placeholder='Enter Event Name'><br><br>
      <input type='text' name='location' placeholder='Enter Event Location'><br><br>
      <textarea name="info" rows=5 cols=40 placeholder="Enter More Information Here"></textarea><br>
    <button id = "addIdea" class="button"><span>Post</span></button>
  </form>
</div></center>
</body>
