<!DOCTYPE HTML>
<html>
  <head>
    <title>Share an Idea</title>
    <link rel="stylesheet" href="stylesheets/idk.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
    $(document).ready(setupMessage);
    function setupMessage() {
        $('#addIdea').click( function () {
              alert('Thanks for sharing your idea! Click "Give me ideas I can do anywhere" to see your post.');
            });
      }
    </script>
  </head>
  <body>
    <div id=headerblock>
      <a href='/'><h1 id=headerblock>&#128161; IDK &#128161;</h1></a>
    </div>
    <br>
    <center><div>
      <form method="post" action="/" id=form2>
        <h2 id=header2>Any ideas you want to share?</h2>
        <input type='text' class = "mytext" name='eventname' placeholder='Enter Event Name'><br><br>
        <input type='text' class = "mytext" name='location' placeholder='Enter Event Location'><br><br>
        <textarea class = "mytext" name="info" rows=5 cols=40 placeholder="Enter More Information Here"></textarea><br>
        <br>
        <button id = "addIdea" class="button"><span>Post</span></button>
      </form>
    </div></center>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
  <script src="scripts/background.js"></script>
</html>
